* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
}
#root {
  border: 1px solid red;
  height: 80%;
  width: 80%;
  justify-self: center;
  margin: 10%;
}
/* .container{
  border: 1px solid red;
  display: flex;
} */
/* .vault-list{
  display: flex;
  text-align: center;
  align-items: center;
  left: 0;
  top: 0;
  border: 1px solid red;
  width: 100%;

} */
.topnav {
  /* border: 1px solid red; */
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  color: black;
  padding: 1px;
  margin: 1px;
  text-align: center;
  margin-bottom: 8px;
}

.topnav a.active {
  background-color: #70ae6e;
  color: white;
  align-items: center;
  height: 48px;
  width: 100px;
  /* border: 1px solid blue; */
  padding: 15px;
  /* margin: 11px; */
  display: flex;
  border-radius: 30px;
}
.search-container {
  width: 100%;
  border: 1px solid black;
  border-radius: 25px;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}
.search-container button {
  float: right;
  margin-top: 8px;
  margin-right: 16px;
  background: hwb(0 93% 5%);
  font-size: 17px;
  border: 1px solid blue;
  cursor: pointer;
}
.search-container input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vh;
  border-radius: 20px;
}
#search-btn {
  left: 20px;
  width: 10%;
}
#search-bar {
  width: 90%;
  outline: none;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(122, 216, 122);
  color: black;
  text-align: center;
  border-radius: 30px;
  /* border: 1px solid red; */
}
.footer > p {
  text-align: center;
  padding: 30px;
}
.form {
  border: 1px solid red;
  width: 50%;
  height: 50%;
  padding: 20px;
  
}
.title {
  padding: 15px;
  margin: 3%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
}
.link {
  padding: 15px;
  margin: 3%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
}
.description {
  padding: 15px;
  margin: 3%;
  width: 80%;
  height: 20%;
  border-radius: 5px;
  border: 1px solid gray;
}
.optional-tags {
  padding: 15px;
  margin: 3%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
}
.add-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #70ae6e;
  margin-left: 61%;
  border: 0px;
  cursor: pointer;
  color: white;
  width: 22%;
}
.add-btn:hover{
 color: black;
 border: none;
 background-color: #70ae6e;
}
