* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: rgb(228, 223, 223);
}
#root {
  height: 100%;
  width: 100%;
  justify-self: center;
  /* margin: 10%; */
  /* border: 1px solid rgb(201, 196, 196); */
  border-radius: 20px;
  
}
/* .container{
  border: 1px solid red;
  display: flex;
} */
/* .vault-list{
  display: flex;
  text-align: center;
  align-items: center;
  left: 0;
  top: 0;
  border: 1px solid red;
  width: 100%;

} */
.topnav {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1%;
  border-radius: 20px;
  /* border: 1px solid red; */
}
.topnav :hover{
  background-color: #70ae6e; 
  border-radius: 20px;
}

/* .topnav a.active{
  padding: 5%;
} */

.search-container {
  width: 50%;
  border: 1px solid black;
  border-radius: 25px;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-left: 25%;
  margin-top: 2%;
}
.search-container button {
  float: right;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(228, 223, 223);
  font-size: 17px;
  cursor: pointer;
}
.search-container input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vh;
  border-radius: 20px;
  background: rgb(228, 223, 223);
}
#search-btn {
  left: 20px;
  width: 10%;
}
#search-bar {
  width: 90%;
  outline: none;
}



.footer {
 width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  margin-top: 8%;
   
  border-radius: 20px;
  height: 12.6vh;
  /* border: 1px solid blue; */
  
}
.footer > p {
  text-align: center;
  padding: 10%;
  font-weight: bold;
  color: rgb(14, 13, 13);
  
}
/* .icons{
  display: flex;
  justify-items: center;
  justify-content: space-between;
} */
.form {
  border: 1px solid rgb(245, 236, 236);
  width: 50%;
  height: 50%;
  padding: 20px;
  border-radius: 20px;
  margin-left: 25%;
}
.title {
  padding: 15px;
  margin: 10%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
}
.link {
  padding: 15px;
  margin: 10%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
}
.description {
  padding: 15px;
  margin: 10%;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 80%;
  height: 20%;
  border-radius: 5px;
  border: 1px solid gray;
}
.optional-tags {
  padding: 15px;
  margin: 10%;
  margin-top: 1%;
  margin-bottom: 2%;  
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
}
.add-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #70ae6e;
  margin-left: 68%;
  border: 0px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  width: 22%;
}
.add-btn:hover{
 border: none;
 background-color: #70ae6e;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.links{
  margin-top: 4%;
  border: 1px solid rgb(155, 149, 145);
  color: black;
  border-radius: 20px;
}
.table, th, td {
  border-collapse: collapse;
  /* border: 1px solid rgb(245, 6, 6); */
  width: 50%;
  height: 45%;
  padding: 20px;
  margin-top: 1%;
}
.table{
 
  /* border: 1px solide rgb(21, 5, 243);
  border-radius: 20px; */
}
